* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  text-decoration: none;
}

.hidden {
  display: none;
}
.book-image {
  min-width: 550px;
  border-bottom-right-radius: 100px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

p {
  font-size: 20px;
}

.apiData {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 2px 5px;
  margin-left: 3px;
  border-radius: 10px;
}

.description {
  margin: 30px !important;
  font-size: 20px;
  color: gray;
  margin-bottom: 10px;
}
.pConteiner {
  margin-bottom: 20px;
  display: flex;
  margin-right: 10px;
}

.textConteiner {
  margin-left: 100px;
  margin-right: 400px;
}
