.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    transition: background-color 0.4s ease;
  }
  
  .split-text {
    color: #f2f0d5;
    padding: 20px;
    margin-left: 20px;
    transition: padding 0.4s ease;
    display: flex;
  }
  
  .navbar.scroll {
    background-color: rgb(0, 0, 0);
  }
  
  .split-text.scroll {
    padding: 17px 20px;
    margin-left: 20px;
  }